<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head(~{::title})">
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body th:replace="layout/layout :: content(~{::content})">
<content>
    <div class="container justify-content-center d-flex">
        <!-- 소설(텍스트) 작성 -->
        <div class="col-8">
            <h2>새 작품 쓰기</h2>
            <form method="post" action="/book/write" enctype="multipart/form-data" th:object="${bookUploadDto}">
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input class="form-control" type="text" id="title" name="bookName" placeholder="제목" th:field="*{bookName}" th:maxlength="30">
                        <div class="form-text text-danger" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}"></div>
                    </div>

                    <div class="mb-3">
                        <label for="genre" class="form-label">장르</label>
                        <select class="form-select" id="genre" name="bookGenre" th:field="*{bookGenre}">
                            <option value="">장르선택</option>
                            <option th:each="genre : ${T(com.project.novel.enums.BookGenre).values()}" th:value="${genre}" th:text="${genre.getDisplayName()}"></option>
                        </select>
                        <div class="form-text text-danger" th:if="${#fields.hasErrors('bookGenre')}" th:errors="*{bookGenre}"></div>
                    </div>

                    <div class="mb-3">
                        <label for="file" class="form-label">표지 이미지</label>
                        <input class="form-control" type="file" id="file" name="bookImage" th:field="*{bookImage}" onchange="validateImage()">
                    </div>

                    <div class="mb-3">
                        <label for="content" class="form-label">작품 소개</label>
                        <textarea class="form-control" id="content" name="bookIntro" rows="10" th:field="*{bookIntro}" th:maxlength="800"></textarea>
                        <div class="form-text text-danger" th:if="${#fields.hasErrors('bookIntro')}" th:errors="*{bookIntro}"></div>
                    </div>

                    <div class="mb-3">
                        <label for="ageRating" class="form-label">작품 나이 제한 설정</label>
                        <select class="form-select" id="ageRating" name="ageRating" th:field="*{ageRating}">
                            <option th:each="ageRating : ${ageRating}" th:value="${ageRating.toString()}" th:text="${ageRating.ratingName}">나이 제한 설정</option>
                        </select>
                        <div class="form-text text-danger" th:if="${#fields.hasErrors('ageRating')}" th:errors="*{ageRating}"></div>
                    </div>

                </div>

                <div class="mt-5 d-grid">
                    <button class="btn btn-primary" type="submit">저장</button>
                </div>

            </form>
        </div>
    </div>
    <script>
        let isFormSubmitted = false;

        function validateImage() {
            let fileInput = document.getElementById("file");
            let file = fileInput.files[0];

            // 파일 크기 검사 (2MB 제한)
            let maxSize = 2 * 1024 * 1024; // 2MB
            if (file.size > maxSize) {
                alert("파일 크기는 2MB를 초과할 수 없습니다.");
                fileInput.value = ""; // 파일 선택을 취소
                return;
            }

            // 파일 확장자 검사
            let fileName = fileInput.value;
            let idxDot = fileName.lastIndexOf(".") + 1;
            let extFile = fileName.slice(idxDot).toLowerCase();
            if (extFile !== "jpg" && extFile !== "jpeg" && extFile !== "png") {
                alert("확장자 jpg, jpeg, png만 가능합니다.");
                fileInput.value = ""; // 파일 선택을 취소
            }
        }


        document.querySelector('form').addEventListener('submit', function(event) {
            let fileInput = document.getElementById("file");
            let confirmMessage = "새 작품을 저장하시겠습니까?";

            // 이미지가 선택되지 않았을 경우, 메시지 추가
            if (!fileInput.value) {
                confirmMessage += "\n이미지를 선택하지 않았습니다. 장르 별 기본 이미지로 설정됩니다.";
            }

            let confirmSubmit = confirm(confirmMessage);
            if (!confirmSubmit) {
                // 사용자가 취소를 클릭한 경우, 폼 제출을 취소
                event.preventDefault();
            } else {
                isFormSubmitted = true;
            }
        });

        window.addEventListener('beforeunload', function (event) {
            // 폼 제출 시에는 beforeunload 이벤트를 방지
            if (isFormSubmitted) {
                return;
            }

            // 폼에 입력된 값이 있는지 확인
            const bookName = document.getElementById('title').value;
            const bookGenre = document.getElementById('genre').value;
            const bookImage = document.getElementById('file').value;
            const bookIntro = document.getElementById('content').value;
            const ageRating = document.getElementById('ageRating').value;

            if (bookName || bookGenre || bookImage || bookIntro || ageRating) {
                // 경고 메시지 설정
                event.preventDefault();
                event.returnValue = '저장하지 않은 변경사항이 있습니다. 페이지를 떠나시겠습니까?';
            }
        });
    </script>
</div>
</content>
</body>
</html>